html,
body {
    color: #333;
    letter-spacing: 0.5px;
    /* height: 100vh; */
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
}

a,
a:hover,
a:focus,
a:visited {
    color: #fe8c00;
}

.logo {
    width: 243px;
    height: 218px;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
    opacity: 0;
}

/* 设置一些公共类 */
/* 版心 */
.inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* 朝右的箭头 */
.rightArrow {
    width: 6px;
    height: 6px;
    color: #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    transform: rotate(-45deg);
    display: block;
}

/* main中的元素超出自身位置不被隐藏 */
.el-main {
    overflow: visible;
}

/* 轮播按钮背景颜色 */
.el-carousel__arrow {
    background-color: rgba(31, 45, 61, 0.3);
}

/* 输入框input的prefix位置 */
.el-input__prefix {
    left: 10px;
}
